#dak-geton{
  background-color: rgba(46, 102, 195, 0.9);
}
.img-google-play{
  width: 150px;
}
.img-app{
  width: 80px;
}
.img-mobile{
  bottom: -60px;
}
.geton-title{
  font-family:'Montserrat SemiBold';
  color: #ffffff;
}
.geton-desc{
  color: #ffffff;
  a{
    color: #ffffff;
    font-family:'Montserrat SemiBold';
  }
}